// colors
$darkBlue : hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$greyBlue: hsl(233, 8%, 62%);
$lightGreyBlue: hsl(220, 16%, 96%);
$veryLightGrey: hsl(0, 0%, 97%);
$white: hsl(0, 0%, 100%);
$font-sm:  0.8875rem; //14 px
$font-med: 1.123rem; // 18px
$font-lg: 1.25rem; //20px
$font-xlg: 3.25rem;  //52px
